version: '3.9'

services:
  db:
    image: postgres:15
    restart: unless-stopped
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: reservas
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d reservas"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  api:
    build: 
      context: ./apps/api
      dockerfile: Dockerfile
    container_name: backend-api
    restart: unless-stopped
    ports:
      - "3333:3333"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/reservas?schema=public
      API_KEY: mi-clave-segura
      PORT: 3333
    command: sh -c "npx prisma migrate deploy && npm run start"
  web:
    build:
      context: ./apps/web
    container_name: frontend-web
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - api
    environment:
      VITE_API_URL: /api
      VITE_API_KEY: mi-clave-segura
volumes:
  db-data: